* {
    margin: auto;
    background-color: #D2DAEE;
}

.carousel img {
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.btn-controls {
    margin-top: 20px;
}

button {
    width: 100px;
    height: 40px;
    background-color: #0360AD;
    margin: 10px;
    color: white;
    text-shadow: 0 0 8px rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #3A91AA;
}

img {
    border-radius: 5px;
}